html, body, .main-view {
  height: 100%;
}

.images {
  height: 100%;
  background-color: #fafafa;
  padding-top: 10px;
  min-width: 400px;
}

.graph {
  height: 100%;
  background-color: #fafafa;
  padding: 10px 0;
  padding-right: 10px;
}

.graph .panel-body{
  border: none !important;
  background-color: white;  
  border-radius: 4px;
  box-shadow: 0 2px 1px rgba(239, 239, 239, 0.98);
}

.panel-default{
  border: none !important;
}

.panel-default > .panel-heading{
  background-color: #f3f3f3;
}

.graph .graph-table{
  height: 470px;
  overflow-y: auto;
}

.graph .graph-table table td{
    padding:10px;
}

.graph .graph-table table thead td{
    font-size:18px;
}

.image {
  padding-top: 5px;
  min-height: 112px;
  max-height: 220px;
  margin-bottom: 15px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 2px 1px rgba(239, 239, 239, 0.98);
  text-align: center;
}

.f1 {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 15px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 2px 1px rgba(239, 239, 239, 0.98);
  text-align: center;
}

.f1-text {
  padding: 10px 0;
}

.image-title {
  padding-bottom: 10px;
  color: gray;
}

.main-image {
  height: 112px;
  margin-left: auto;
  margin-right: auto;
}

.grayscale-img-canvas {
  height: 112px;
  margin-left: auto;
  margin-right: auto;
}

#drop-zone {
  width: 100%;
  text-align: center;
  vertical-align: middle;
  line-height: 112px;
  height: 112px;
  margin-bottom: 5px;
}

.median-img-canvas {
  height: 112px;
  margin-left: auto;
  margin-right: auto;
}

.download-button {
  color: #5f5f5f;
  border-radius: 4px;
  background-color: #f3f3f3;
  padding: 5px;
  margin: 5px 0;
  border: 2px solid white;
}

.menu {
  width: 100%;
  color: #5f5f5f;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.median-image {
  height: 112px;
}

#median-image {
  line-height: 112px;
}

#grayscale-image {
  line-height: 112px;
}

.median-menu-wrap {
  height: 50px;
}

.median-control {
  margin: 5px 0;
  background-color: #f3f3f3;

  border: 2px solid white;
  text-align: center;
  border-radius: 4px;
  padding: 5px;
}

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #535353
}

input:focus {
  outline: 0;
}

.median-control-repeat {
  border-bottom-left-radius: 4px;
}

.median-control-y {
  border-bottom-right-radius: 4px;
}

