<div id="median-image"></div>
<div class="median-menu col-xs-12">
  <input class="median-control-repeat median-control col-xs-4" type="text" ng-model="repeat" ng-model-options="{ debounce: 1000 }" ng-change="repeatApply()" placeholder="Repeat"/>
  <input class="median-control-x median-control col-xs-4" type="text" ng-model-options="{ debounce: 1000 }" ng-change="repeatApply()" ng-model="xy" placeholder="XY"/>
  <div class="col-xs-4">
    <div class="download-button">
      Download
    </div>
  </div>
</div>

